<h2>Mongo courses we offer</h2>
<br>
<h2><a href="/course/{{course.0.id}}">{{course.0.name}}</a></h2>
<div>{{course.0.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.1.id}}">{{course.1.name}}</a></h2>
<div>{{course.1.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.2.id}}">{{course.2.name}}</a></h2>
<div>{{course.2.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.3.id}}">{{course.3.name}}</a></h2>
<div>{{course.3.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.4.id}}">{{course.4.name}}</a></h2>
<div>{{course.4.coursecontent}}</div>
<br>