<h2>Node courses we offer</h2>
<br>
<h2><a href="/course/{{course.5.id}}">{{course.5.name}}</a></h2>
<div>{{course.5.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.6.id}}">{{course.6.name}}</a></h2>
<div>{{course.6.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.7.id}}">{{course.7.name}}</a></h2>
<div>{{course.7.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.8.id}}">{{course.8.name}}</a></h2>
<div>{{course.8.coursecontent}}</div>
<br>
<h2><a href="/course/{{course.9.id}}">{{course.9.name}}</a></h2>
<div>{{course.9.coursecontent}}</div>
<br>